### Einlesen von Daten aus einer Datei

*%%writefile* ist ein Jupyter-Command, das den Inhalt der Zelle in die angegebene Datei schreibt.

In [24]:
%%writefile input.txt  
hello world

Overwriting input.txt

In [25]:
f = open('input.txt')
s = f.readline().strip()               
print(s)

hello world

f = open('input.txt')             # eine Datei zum Lesen öffnen
f.close()                         # nach dem Einlesen wieder schließen (kann in 'einfachen' Fällen fehlen)
s = f.readline().strip()   # eine Zeile ohne den Zeilenumbruch einlesen
k = int(f.readline())      # eine Zahl einlesen
x, y = [int(x) for x in f.readline.split()]    # eine Zeile mit zwei Zahlen einlesen.

----
#### A1

Lies die Zahl in eine Variable k ein und gib das doppelte des Wertes aus.

In [ ]:
%%writefile input.txt  
2

In [ ]:
f = open('input.txt')

# your code

print(2*k)

4

----
#### A2

Lies die beiden Zahlen ein und gib ihre Summe aus.

In [ ]:
%%writefile input.txt  
17 4

In [ ]:
f = open('input.txt')

# your code 

print(a+b)

21

----
#### A3

Die Zahl in der ersten Zeile gibt an, wieviel Zeilen noch folgen. Lies zunächst die erste Zahl ein
und dann in einer for-Schleife die folgenden Zeilen. Speichere die Namen in einer Liste data.

In [ ]:
%%writefile input.txt  
4
Lena
Henry
Fabian
Ida

In [ ]:
# your code

print(data)

['Lena', 'Henry', 'Fabian', 'Ida']

----
#### A4

Die Zahl in der ersten Zeile gibt an, wieviel Zeilen noch folgen. Lies zunächst die erste Zahl ein
und dann in einer for-Schleife die folgenden Zeilen. Speichere die Werte als Tuples in einer Liste data.

In [ ]:
%%writefile input.txt  
4
3 8
12 0
3 9
2 1

In [ ]:
# your code

print(data)

[(3, 8), (12, 0), (3, 9), (2, 1)]